* {
	margin:0;
	padding: 0;
	border: none;
}
body {
    font-family: tahoma;
    text-decoration: none;
    color: #001373;
    font-size: 1em;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	white-space: break-spaces;
}
p{
	white-space: break-spaces;
}
/*xu ly header*/
#head{
	width: 100%;
}
.header-page{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	border-bottom: 0.125em black solid;
	border-top: 1em #2f2f9a solid;
}
.img-logo {
	display: block;
}
.img-logo img {
	width: 100%;
}
.login-search-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	float: right;
	bottom: 0;
	left: 0;
	padding-top: 1em;
	margin-bottom: 0.5em;
}
.search-box {
	display: block;
}
.button-search {
	border: 0.07em black solid;
	background-color: #b5b5dd;
}
.input-search {
	border: 0.07em black solid;
}
.login-box {
	display: flex;
	margin-left: 1em;
}
.login-box a{
	padding-left: 0.5em;
}
/*end header*/
.main-contain {
}
.contain-menu {
	width: 100%;
	background-color: #2f2f9a;
}
/*content menu*/
.content-menu {
	background-color: #2f2f9a;
	padding: 0 5.3em;
	display: flex;
	align-items: center;
	overflow: hidden;
}
.nav-list {
	display: flex;
}
.nav-list a{
	color: white;
	margin-right: 4.26em;
	white-space: nowrap;
}
.nav-button {
	width: 2em;
	height: 2em;
	color: white;
	display: none;
	font-size: 1.3em;
    margin: auto 0;
}
.nav-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0, 0.3);
	display: none;
	animation: fadeIn linear 0.2s;
}
.nav-menu-mobile{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 21.3em;
	max-width: 100%;
	background-color: white;
	opacity: 0;
	transform: translateX(-100%);
	transition: transform linear 0.2s;
	z-index: 1000;
}
.nav-list-mobile{
	margin-top: 1.6em;
}
.nav-list-mobile a {
	text-decoration: none;
	display: block;
	font-size: 1.3em;
	padding: 0.98em 2.3em;
}
.nav-mobile-close
{
	width: 1.67em;
	height: 1.67em;
	color: grey;
	position: absolute;
	top: 1rem;
	right: 1rem;
}
.nav-input:checked ~ .nav-overlay {
	display: block;
}
.nav-input:checked ~ .nav-menu-mobile {
	transform: translateX(0%);
	opacity: 1;
}
.nav-menu-pc a:hover {
	color: red;
}
/*banner*/
.contain-banner {
	animation: opac 3s forwards infinite;
}
.contain-banner img {
	width: 100%;
	display: block;
}
/*end baner*/
/*quick link*/
.quick-link {
	display: block;
	width: 100%;
	margin-top: 1em;
	border-bottom: 0.07em #8080808c dotted;
}
.link {
	padding: 0 5.3em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}
.link a img{
	width: 3em;
	height: 3em;
	display: block;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}
/*end quick link*/
/*contain news*/
.contain-news {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
}
.content-news {
	padding: 0 5.3em;
	display: flex;
	justify-content: space-around;
}
.content-1 {
	display: block;
	margin-right: 1em;
}
.content-1 img {
	width: 29em;
	height: 14.6em;
}
.content-1 a {
	display: block;
	margin-bottom: 0.53em;
	font-size: 1.2em;
}
.content-2 {
	margin-right: 1em;
}
.info {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 1em;
}
.info a{
	font-size: 1.2em;
	text-transform: uppercase;
}
.info a:hover {
	background-color: #EFEFEF;
}
.ul-content-2 {
	/*display: block;*/
}
.ul-content-2 li a{
	display: block;
	margin-bottom: 1.1em;
}
.content-3 {
	width: 100%;
}
.content-3 h2{
	font-size: 1.2em;
	margin-bottom: 1em;
	background-color: #EFEFEF;
	text-align: center;
}
.ul-content-3 {
	border: 0.07em black dotted;
	padding: 0.8em;
}
.ul-content-3 li a{
	display: block;
	margin-bottom: 0.8em;
	border-bottom: 0.07em black dotted;
}
/*end contain news*/
/*contain banner news*/
.contain-banner-news{
	width: 100%;
	background-color: #EFEFEF;
}
.content-banner-news{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5.3em;
	/*overflow: hidden;*/

}
.content-banner-news img{
	margin: 1em 0;
	width: 15.6em;
	height: 10em;
}
.content-banner-news img:hover {
	transform: translateX(0.1875em);
	transform: translateY(0.1875em);
	opacity: 0.5;
}
/*end contain banner news*/
/*contain sinhvien*/
.contain-sinhvien {
	width: 100%;
	background-color: white;
	margin-top: 1em;
}
.head-content-sinhvien {
	display: block;
	padding: 0 5.3em;
	margin-bottom: 1em;
}
.head-content-sinhvien a{
	display: block;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
}
.content-sinhvien {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5.3em;
	/*overflow: hidden;*/
}
.content-sinhvien-news ul {
	padding-left: 1.3em;
	list-style: circle;
}
.content-sinhvien-news li a{
	display: block;
	margin-bottom: 0.5em;
}
.content-sinhvien-news li a:hover{
	color: #0a229ee0;
}
.content-sinhvien-news img{
	width: 15.6em;
	height: 10em;
	margin-bottom: 1em;
}
/*contain sinhvien*/
/*contain footer intro*/
.contain-footer-info{
	width: 100%;
	background-color: #004EAF;
}
.content-footer-intro {
	padding: 1em 5.3em;
	display: flex;
	justify-content: flex-end;
}
.footer-info-text {
	margin-right: 8em;
}
.footer-info-text p{
	font-size: 1.2em;
	text-transform: uppercase;
	color: white;
}
.footer-info-icon i{
	font-size: 1.2em;
	padding-left: 1em;
	color: white;
}
.contain-footer {
	width: 100%;
	background-color: #001373;
}
.content-footer {
	padding: 1em 5.3em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content-footer p{
	color: white;
	font-size: 0.8em;
}
#line-dot {
	border-bottom: 0.07em white dotted;
	margin-bottom: 1em;
    padding-bottom: 0.5em;
}
/*end contain footer intro*/
/* animation*/
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to{
		opacity: 1;
		transition: 0.2s;
	}
}
@-webkit-keyframes opac{
	from{
		opacity: 0.5;
	}
	to{
		opacity: 1;
		transition: 0.5s;
	}
}
/*end animation*/
/*reponsive tablet */
@media (max-width: 1024px)
{
	.login-search-box {
		display: none;
	}
	.quick-link {
		display: block;
	}
	.contain-banner {
		display: block;
		z-index: 100;
	}
	.nav-button {
		display: block;
	}
	.nav-menu-pc {
		display: none;
	}
	.content-sinhvien {
		display: block;
		text-align:center;
	}
	.content-sinhvien-news {
		display: inline-block;
	}
	.content-banner-news{
		display: block;
		text-align: center;
	}
	.content-banner-news a{
		display: inline-block;
	}
	.content-footer {
		display: none;
	}
}
@media screen and (max-width: 800px)
{
	.content-news {
		display: none;
	}
}
/*end reponsive*/